body {
  margin: 0;
}

.nav-container {
  display: flex;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(50, 50, 50);
  list-style-type: none;
}
.nav-item a {
  display: block;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  background-color: rgb(75, 75, 75);
}

.Home {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title:hover {
  color: rgb(75, 75, 75);
}

.menu-blog {
  float: left;
  width: 170px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
  margin: 10px;
}

ul li {
  display: inline;
}

.option-admin a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.option-admin a:hover {
  padding: 5px;
  color: rgb(75, 75, 75);
}
