body {
  margin: 0;
}

.nav-container {
  position: fixed;
  display: flex;
  /* flex-direction: row; */
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(50, 50, 50);
  list-style-type: none;
}
.nav-item a {
  display: block;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  background-color: rgb(75, 75, 75);
}

.Home {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title:hover {
  color: rgb(75, 75, 75);
}
